<!DOCTYPE html>
<html>
  <head>
    <title>The Most Awesomest Curling League In The History Of Ever.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css"
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <footer>
      <br>
      <div class="container">
        <button class="btn"><a href="/">Home</a></button>
      </div>
    </footer>
  </body>
</html>
